* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  grid-template-areas:
  "header-d header-d"
  "nav-d content-d";

  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}
a {
  text-decoration: none;
}

.content {
  grid-area: content-d;
  background-color: cornflowerblue;
  padding: 5px;
}